*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    padding: 20px;
 

}
header{
    display: flex;    
}
header > ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
header> ul > li{
    padding: 5px;
    list-style: none;
    font-family: 'Poppins';
    font-weight: bold;
    margin: 15px;
}header> ul > li:hover{
    border-bottom: 4px solid #8A2D5E;
    ;
}
.img-ironman{
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-40%,-50%);
}

.quadradinhos{
    position: absolute;
    top: 05%;
    left: 82%;
}
.usuario{
    position: absolute;
    top: 05%;
    left: 85%;
}
.lupa{
    position: absolute;
    top: 05%;
    left: 79%;
    font-size: 30px;
    color: black;
}
.lateral{
    position: absolute;
    top: 02%;
    left: 230%; 
}
span{
    position: absolute;
    top: 18%;
    left: 05%;
    font-family: 'Poppins', sans-serif;
    
}
   
.titulo{
    font-size: 5rem;
    color: #8A2D5E;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 05%;
    
}
.subtitulo{
   
    position: absolute;
    top: 33%;
    left: 05%;
    font-family: 'Nunito', sans-serif;
    font-size: 23px;
}
.texto{
    position: absolute;
    top: 37%;
    left: 05%;
    width: 433px;
    text-align: justify;
    font-family:  'Poppins', sans-serif;

}
.next{
    position: absolute;
    top: 95%;
    left: 85%;
    font-size: 20px;
}
.setanext{
    position: absolute;
    top: 95.5%;
    left: 96%;
}
.botão{
    position: absolute;
    top: 60%;
    left: 7%;
    background: #383838;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    color: white;
    font-size: 19.71px;
    font-family: 'Poppins', sans-serif;
}
.redes{
    position: absolute;
    top: 75%;
    left: 03%;
}


